/* css em inglês */

/* normal css to samll screens, media queries to medium and big */

html{
    font-family: sans-serif;
    background-color: #fefefe;
}
a{
    color: inherit;
    text-decoration: none;
    
}
header a:hover{
    color: #fff;
    transition: all 0.2s;
}

a::after{
    color: inherit;
}
header{
    min-height: 600px;
    background: url("../img/capa-mulher.png") no-repeat ;
    background-position: 70% 100%;
    background-color: #ffc107;
    display: block;
    width: 100%;
}
header .container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
header nav{
    padding: 20px 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}
header nav img{
    height: 50px;
    display: inline;
}
#colapse{
    background-color: transparent;
    color: rgba(100, 50, 20, 0.8);;
    vertical-align: middle;
    border: 1px solid rgba(100, 50, 20,0.5);
    border-radius: 3px;
    cursor: pointer;
    padding: 4px 10px;
    height: 40px;
}
.break{
    flex-basis: 100%;
    width: 0px; 
    height: 0px; 
    overflow: hidden;
}
.navItem{
    /* display:inline */
    display: block;
}
.navBig{
    display: inline;
    padding: 8px;
}
header nav ul a{
    line-height: 20px;
    /* padding: 8px 8px; */
    padding: 8px 0px;
}
header nav ul{
    /* display:inline */
    transition: max-height 0.2s ease-out;
    max-height: 0;
    display: block; 
    /* margin-left: auto */
    overflow: hidden;
    padding: 0;
    font-size: 20px;
    color: rgba(160, 75, 30,0.8);
    margin-top: 5px;
}
header nav .ulBig{
    max-height: 200px;
    display: block;
    margin-left: auto;
    overflow: initial;
}
a.login{
    border: 2px solid #fff;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    /* margin-left: 20px; */
}
a.login.loginBig{
    margin-left: 20px;
}
a.login:hover{
    background-color: #fff;
    color: rgb(255, 210, 0);
    transition: all 0.2s;
}
header article{
    color: #fff;
    width: 50%;
    font-family: 'Open Sans', sans-serif;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
}
header article .articleContent{
    margin-top: auto;
    margin-bottom: auto;
}
header h1.title{
    margin: 0;
    font-size: 60px;
    line-height: 1.2em;
}
header h2.subtitle{
    font-size: 20px;
}

#email{
    width: 300px;
    height: 30px;
    padding: 5px;
    border: 1px solid #fff;
    padding-left: 5px;
    outline: none;
    border-radius: 4px 0px 0px 4px;
    color: #000;
    font-weight: 600;
}
#email:focus{
    border: 1px solid #fff;
}
#cadButton{
    width: 100px;
    height: 20px;
    padding: 10px;
    background-color: rgb(0, 100, 255);
    font-weight: 600;
    margin-left: -4px;
    border-radius: 0px 4px 4px 0px;
}
header article p{
    font-weight: 600;
}
header article span{
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 3px;
    vertical-align: middle;
}
header article span:hover{
    color: rgb(255, 210, 0);
    transition: all 0.2s;
}
header article span:hover{
    transition: all 0.2s;
    background-color: #fff;
}



/* mainArticle sections */

section{
    display: flex;
    
}

section h1.title{
    margin: 0;
    font-size: 35px;
    line-height: 1.2em;
    font-weight: 600;
}
section h2.subtitle{
    font-size: 20px;
}
.buttonSeeMore{
    display: block;
    padding: 8px 0;
    width: 100px;
    background-color: blue;
    color: #fff;
    text-align: center;
    border-radius: 3px;
}
.buttonSeeMore:hover{
    transition: all 0.2s;   
    font-weight: 600;
}


#firstSection{
    height: 500px;
    background: url("../img/saiba.png") no-repeat ;
    background-position: 100% 50%;
    background-size: 500px ;
    margin-left: auto;
    margin-right: auto;
}
#secondSection{
    height: 750px;
    background: url("../img/juros.png") no-repeat ;
    background-position: 10% 50%;
    background-size: 500px;
    margin-left: auto;
    margin-right: auto;
}


.sectionLeft{
    display: flex;
    justify-content: center;
    width: 50%;
    flex-direction: column;
    padding-left: 5%;
}
.sectionRight{
    margin-left: auto;
    display: flex;
    justify-content: center;
    width: 50%;
    flex-direction: column;
    padding-left: 5%;
}
#cardsSection{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    
}
.card{
    margin-top: 20px;
    width: 33.33%;
    height: 350px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 0 5px;
    
}
.card h1.title{
    font-size: 20px;
    font-weight: 600;
}
.card h2.subtitle{
    font-size: 16px;
}
.firstCard{
    background: url("../img/facil.png") no-repeat;
    background-size: 300px;
    background-position: 50% 0%;
}
.secondCard{
    background: url("../img/economize.png") no-repeat;
    background-size: 300px;
    background-position: 50% 0%;
}
.thirdCard{
    background: url("../img/suporte.png") no-repeat;
    background-size: 300px;
    background-position: 50% 0%;
}

footer{
    clear: both;
    padding: 0 5%;
    height: 50px;
    margin: 0;
}

footer nav{
    display: inline;
    color: rgb(0, 81, 255);
    font-weight: 600;
}
footer nav ul{
    list-style-type: none;
}
footer nav ul li{
    display: inline;
    margin-right: 10px;
}
footer a:hover{
    border-bottom: 2px solid rgb(0, 81, 255);;
}


/* media queries */
/* 576px ≥768px  ≥992px  >=1200*/
/* None (auto)	540px	720px	960px	1140px */
@media only screen and (max-width: 1200px) {
    header{
        background-position: 80% 100%;
    }
    header .container{
        max-width: 960px;
    }
    #cardsSection{
        max-width: 960px;
    }
    .card{
        margin-top: 10px;
        height: 350px;
    }
    #firstSection{
        max-width: 960px;
        background-size: 400px;
    }
    #secondSection{
        max-width: 960px;
        background-size: 400px;
    }
    
}
@media only screen and (max-width: 992px) {
    header{
        background-position: 100% 100%;
    }
    header .container{
        max-width: 720px;
    }
    header nav ul a{
        padding: 8px 4px;
    }
    header nav ul a.login{
        margin-left: 10px;
    }
    #email{
        width: 220px;
    }
    #cadButton{
        width: 80px;
    }
    #firstSection{
        max-width: 720px;
        background-size: 300px;
    }
    #secondSection{
        max-width: 720px;
        background-size: 300px;
    }
    section h1.title{
        margin: 0;
        font-size: 30px;
        line-height: 1.2em;
        font-weight: 600;
    }
    section h2.subtitle{
        font-size: 18px;
    }
    #cardsSection{
        max-width: 720px;
    }
    .card{
        margin-top: 10px;
        height: 350px;
    }
    .firstCard{
        background-size: 200px
    }
    .secondCard{
        background-size: 200px
    }
    .thirdCard{
        background-size: 200px
    }
}
@media only screen and (max-width: 768px) {
    /* Small screens - text on top, image on bottom */
    header{
        background: #ffc107;
        height: auto;
    }
    header article{
        width: 100%;
    }
    header .container{
        max-width: 540px;
    }
    header nav{
        padding: 16px 0;
    }
    header nav img{
        height: 40px;
    }
    header nav ul a{
        padding: 8px 4px!important;;
    }
    header nav ul{
        font-size: 16px!important;;
    }
    .login{
        margin-left: 5px!important;
    }


    #email{
        width: 70%;
    }
    #cadButton{
        width: 20%;
    }

    #firstSection{
        max-width: 540px;
        background-size: 300px;
        height: 450px;
        background-position: center  bottom ;
        
    }
    #secondSection{
        height: 600px;
        max-width: 540px;
        background-size: 300px;
        background-position: center  bottom ;
    }
    .sectionLeft{
        width: 100%;
        justify-content: start;
        margin-top: 20px;
    }
    .sectionRight{
        width: 100%;
        justify-content: start;
        margin-top: 20px;
        
    }
    #cardsSection{
        max-width: 540px;
    }
    .card{
        width: 90%;
        height: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    #cardsSection{
        flex-direction: column;
    }
    .firstCard{
        background-size: 450px
    }
    .secondCard{
        background-size: 450px
    }
    .thirdCard{
        background-size: 450px
    }
}